.App {
  text-align: center;
    background-color: #1beabd
}
.container{
  margin-top: 100px;
}
input {
  font-family:verdana;
  font-size: 20px;
  line-height:inherit;
  color:#2e3750;
  max-width:5em;
  margin-bottom:50px;
  border-radius: 10px
}
.input{
  text-align: center;
  position:absolute;
  font-size: 1.5em;
  background: linear-gradient(green, cyan);
  padding: 3px;  
  display: inline-block;
  border-radius: 10px;
  margin-left: 600px;
}
.button {
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button1 {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button1:hover {background-color: red}

.button1:active {

background-color: red;
  transform: translateY(4px);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#1beabd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.outer{
  background-color: #1beabd
}
.App-link {
  color: cyan;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

